
@font-face {
    font-family: 'Vazir';
    src: url('../../../../style training/fonts/Vazir.eot');
    src: url('../../../../style training/fonts/Vazir.ttf');
    src: url('../../../../style training/fonts/Vazir.woff');
    src: url('../../../../style training/fonts/Vazir.woff2');

}

* {
    box-sizing: border-box;
    margin: 0;
    direction: rtl;
    padding: 0;
    color: #f2f2f2;
    font-family: Vazir, serif;
    line-height: 1.5;
}
body{
    background-color: #012437;
}
header{
    height: 100px;
    position: relative;
    background-color: palegoldenrod;
    font-size: 15px;
}
header h1{
    color: black;
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
}
.login-btn, .logout-btn{
    font-size: 20px;
    background-color: #f8f8f8;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 3px 5px;
    position: relative;
    top: -20px; right: 10px;
    transition: 0.5s;
}
.login-btn:hover{
    background-color: #28b93a;
}
.logout-btn:hover{
    background-color: #d64545;
}
.register-btn{
     font-size: 20px;
    background-color: #28b93a;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    padding: 3px;
    position: absolute;
    top: 10px; right: 10px;
}
.content{
    text-align: center;
}
.content #login-notice{
    color: #ccc;
    margin-top: 200px;
    border-bottom: 2px solid crimson;
    width: fit-content;
    margin-right: 30%;
}
.event-in-event-list{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    background-color: palevioletred;
    width: 50%;
    margin-right: 25%;
    border-radius: 50px;
    transition: 1s;
}
.event-in-event-list:hover{
    opacity: 80%;
    padding: 10px;
    filter: grayscale(10%);
    font-size: 22px;
}
.content a{
    text-decoration: none;
    width: fit-content;
}
.pagination{
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
    position: absolute;
    bottom: 30px;
    right: 48%;
}
.pagination .laque-btn, .pagination .raquo-btn{
    background-color: sienna;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    margin: 0 5px;
}
.event-detail{
    font-size: 30px;
    width: 40%;
    position: relative;
    top: 25%;
    right: 30%;
    border: 3px dotted greenyellow;
    border-radius: 20px;
    padding: 20px;
}
.add-icon{
    width: 30px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    transition: 0.5s;
}
.add-icon a{
    width: 100px;
    transition: 1s;
}
.add-icon img{
    width: 100px;
    transition: 0.5s;
}
.add-icon a:hover, .add-icon img:hover{
    filter: grayscale(50%);
    font-size: 10px;
    width: 110px;
}
.add-event-form{
    position: relative;
    width: 50%;
    font-size: 25px;
    right: 25%;
    text-align: center;
    height: 50%;
    top: 30px;
}
.save-btn{
    color: black;
    padding: 3px 15px;
    font-size: 15px;
    border-radius: 10px;
    margin-top: 10px;
    transition: 0.5s;
}
.save-btn:hover{
    border: 3px solid greenyellow;
    padding: 4px 16px;
}
.add-event-form input, .add-event-form textarea{
    color: black !important;
    width: 200px;
    border-radius: 30px;
    padding: 5px 10px;
    margin-bottom: 5px;
}
.add-event-form textarea{
    width: 200px;
    height: 100px;
}
.add-event-form-h1{
    text-align: center;
    height: 50px;
    position: relative;
    margin-top: 90px;
}
.success-notif{
    position: relative;
    width: 50%;
    right: 25%;
    top: 300px;
}
.register-form{
    text-align: left;
    position: absolute;
    top: 200px;
    left: 50%;
}
.register-form form input{
    color: black;
    border-radius: 5px;
}
.event-detail-lnk{
    position: relative;
    top: 15px;
    width: 100%;
    color: black;
    padding: 5px;
    text-align: center;

}
.event-detail-lnk a{
    text-decoration: none;
    color: black;
    background-color: gray;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
}
.event-detail-lnk a:hover{
    filter: opacity(85%);
}
.category{
    position: fixed;
    left: 100px;
    top: 200px;
    width: 150px;
    height: 200px;
    background-color: #f2f2f2;
    font-size: 20px;
    text-align: center;
    border-radius: 20px;
}
.category h2{
    position: relative;
    color: black;
    padding-top: 10px   ;
}
.category .category-lnk{
    margin-top: 10px;
}
.category a{
    position: relative;
    font-size: 20px;
    padding: 5px 0;
    color: black;
    text-decoration: none;
}
.event-search-form{
    float: left;
    width: fit-content;
    position: absolute;
    top: 35px;
    left: 40px;
    font-size: 20px;
}
.event-search-form button{
    font-size: 15px;
    background-color: dodgerblue;
    border: none;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
}
.event-search-form button:hover{
    background-color: #3a3acc;
    filter: opacity(80%);
}
.event-search-form input{
    background-color: lightgoldenrodyellow;
    padding: 5px 0;
    border-radius: 5px;
    color: black;
}
.event-search-form input::placeholder{
    text-align: center;
}
.event-search-form input:focus{
    border-color: dodgerblue;
    border-width: 2px;
}

@media only screen and (max-width: 1400px){
    .pagination{
        position: relative;
        top: 30px;
        text-align: center;
        right: 0;
    }
}
@media only screen and (max-width: 950px){
    .category{
        position: fixed;
        left: 50px;
        width: 100px;
        height: 150px;
        top: 150px;
        font-size: 10px;
    }
    .category h2{
        font-size: 20px;
    }
    .category a{
        /*padding: 0;*/
        font-size: 15px;
    }
}
@media only screen and (max-width: 600px){
    .category{
        position: fixed;
        left: 20px;
        width: 90px;
        height: 150px;
        font-size: 5px;
    }
    .category .category-lnk{
        margin-bottom: 0;
    }
    .category a{
        padding: 0;
        font-size: 15px;
    }
}
